body {
text-align: center;
}

#logindiv{
  margin: auto;
  margin-top: 200px;

  text-align: left;
  padding: 5px;
  width: 200px;
}

.input{
  width: 100%;
}

p{
  margin-bottom: 5px;
}

#signin{
  margin-top: 10px;
}
