body {

}

#background {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
}

#conveyor {
  position: absolute;
  z-index: 2;
  width: 1000px;
  margin-top: 30px;
  left: 0px;
}

#conveyorMoving {
  position: absolute;
  z-index: 3;
  width: 1000px;
  margin-top: 30px;
  visibility: hidden;
  left: 0px;
}

#boxOpen {
  position: absolute;
  z-index: 3;
  top: 296px;
  left: 660px;
  visibility: visible;
}

#boxClosed {
  position: absolute;
  z-index: 2;
  top: 296px;
  left: 660px;
  visibility: hidden;
  pointer-events: none;
}

#phone {
  position: absolute;
  width: 130px;
  z-index: 4;
  top: 300px;
  left: 300px;
  visibility: visible;
}

#phoneImage {
  position: sticky;
}

#modules {
  position: absolute;
  width: 400px;
  top: 75px;
  left: -200px;
}

.module {
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  visibility: visible;
  margin: 7px;
}



#clock {
  position: absolute;
  z-index: 5;
  width: 200px;
  top: 20px;
  left: 800px;
}
