body {
  overflow: hidden;
  text-align: center;
}

#logo{
  position: absolute;
  left: 5px;
  top: 35px;

  width: 250px;
}

#map{
  margin-top: 30px;
}

#buttondiv{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  text-align: center;
}

#button{
  margin-top: 290px;
  margin-bottom: 100px;

  width: 400px;
  height: 60px;

  transition: 1s;

  background: rgb(57,232,46);
  background: linear-gradient(180deg, rgba(57,232,46,1) 13%, rgba(36,149,46,1) 71%);

  font-family: monospace;
  font-size: 25px;
  color: white;

  border-radius: 15px;
}

#backtohomepage{
  position: relative;
}
