body {
  background-image: url("../assets/images/paper.png");
  background-repeat: repeat;
  text-align: center;

  font-family: monospace;
  font-size: 20px;
  font-weight: bold;

  margin: 0px;

  overflow: hidden;
}

#leader {
  position: relative;
  top: 50px;
  height: 400px;
  margin-bottom: 30px;
  z-index: 1;
}

#link{
  position: relative;
  top: -350px;
  z-index: 0;

  font-size: 15px;
}

#websites{
  position: relative;
  text-align: left;
  left: 20px;
  margin-top: -40px;
}
