body {
text-align: center;
}

#logo{
  position: relative;
  width: 300px;
  top: 180px;
}

#smalllogo{
  position: absolute;
  top: 50px;
  left: 20px;

  width: 100px;
}

#searchbar{
  position: absolute;
  top: 55px;
  left: 145px;

  width: 500px;
}

#inputField{
  position: relative;
  top: 220px;

  width: 300px;
}

.button{
  position: relative;
  top: 250px;
}
